.container-imageShow>p {
  text-align: center;
  background: lightslategray;
}

.container-imageShow {
  position: relative;
  text-align: center;
  font-size: 2rem;
}

.container-imageShow>div {
  color: var(--text);
}

.container-imageShow>img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.mid-right {
  position: absolute;
  top: 40%;
  right: 16px;
  transform: translate(0%, -50%);
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width : 1080px) {

  .container-imageShow {
    font-size: 2rem;
  }

  .container-imageShow>div {
    color: var(--text);
    font-size: 1rem;
  }

  .container-imageShow>img {
    width: auto;
    height: auto;
    object-fit: fill;
    border-radius: 0;
  }

  .centered,
  .bottom-right,
  .bottom-left,
  .top-left,
  .mid-right {
    top: 40%;
    right: 16px;
  }

}