.PageNotFound {
    height: 100vh;
    width: auto;
    overflow: hidden;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    background-image: linear-gradient(260deg, #23ae35 0%, #6ecfa2 100%);
    ;
}

.inav_custom_navbar {
    display: none;
}

p.button{
    width: auto;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

p.button:hover{
    border: 1px solid rgb(102, 255, 0);
}