/* background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%); */
@import url('../../assets/style/common.css');

/* ----------------------------------- */

.product .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 80px;
}

.section-title {
    font-family: var(--ff-mr_de_haviland);
    font-weight: var(--fw-500);
    text-align: center;
    margin-block-end: 8px;
    margin-bottom: 40px;
}

.filter-btn-list {
    display: flex;
    flex-wrap: wrap;
    margin-block: 20px 50px;
    justify-content: center;
}

.filter-btn-item {
    position: relative;
    display: flex;
    cursor: pointer;
}

.filter-btn-item:not(:last-child)::after {
    content: "|";
    margin-inline: 15px;
}


.filter-btn {
    transition: var(--transition-1);
}



.filter-btn {
    transition: var(--transition-1);
}


.filter-btn.active {
    color: var(--tan-crayola);
}


.product-list > * { display: none; }

.product-list[data-filter="all"] > *,
.product-list[data-filter="accessory"] > .accessory,
.product-list[data-filter="surgical"] > .surgical,
.product-list[data-filter="monitoring"] > .monitoring {
  display: block;
  animation: fadeUp 1s ease forwards;
}

/* ----------------------------------- */


/* @media screen and (max-width:1040px) {}

@media screen and (min-width: 1040px) and (max-width: 1211px) {}

@media screen and (min-width: 1210px) {} */

